{{ define "main" }}
{{ $pagelist := union .Pages .Sections }}
{{ $generallist := where .Site.Pages "Params.type" "general" }}
{{ $pagelist := cond (eq .Params.includeGeneral true) (union $pagelist $generallist) $pagelist}}
  <main id="main">
    <h1>{{ .Title }}</h1>
    {{ .Content }}
    <ul class="patterns-list">
    {{ range $pagelist.ByTitle }}
      <li>
        <h2>
          <a href="{{ .Permalink }}">
            <svg class="bookmark" aria-hidden="true" viewBox="0 0 40 50" focusable="false">
              <use xlink:href="#bookmark"></use>
            </svg>
            {{ .Title }}
           </a>
        </h2>
      </li>
    {{ end }}
    </ul>
  </main>
{{ end }}
